body {
    background: url('../img/harpreet_background.webp') center;
    margin: 0 auto;
    text-align: center;
    background-size: 100%;
}


img {
    width: 60%;
    border: thick double #ffffff;
    margin-top: 0.25rem;
    border-radius: 1rem;
}

.dropdown,
.custom {
    font-family: 'Roboto Slab', serif;
    background-color: rgba(194, 172, 126, 0.7);
    padding: 0.5rem;
    border-radius: 1rem;
}

.dropdown {
    border-radius: 1rem 1rem 0 0;
    padding-top: 1rem;
    margin-top: 1rem;
}

.custom {
    border-radius: 0 0 1rem 1rem;
}

svg {
    width: 60%;
    margin-left: 1rem;
}

svg path {
    fill: rgb(204, 135, 45);
}

.logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto Slab', serif;
    padding: 1rem;
    color: rgb(204, 135, 45);
    height: 6rem;
    border-radius: 1rem;
    font-variant: small-caps;
    margin-bottom: 1rem;
}


.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    width: 28rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 1rem;
    max-height: 52rem;
}